{
  "mqtt-broaker": "mqtt://example.com",
  "topics": {
    "cpu":     "rpi129/cpu_usage",
    "memory":  "rpi129/mem_usage",
    "temperature": "rpi129/temperature",
    "traffic": "rpi129/traffic"
  },
  "monitor": {
    "ifnames": ["eth0"]
  }
}
